
.container {
    width: 1282px;
    margin: auto;
    margin-top: 62px;
}
header{
    width: 1283px;
    height: 189px;
}
.logo {
    width: 334px;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
    font-style: normal;
    }

.logo1 {
   color: black;
    }
.logo2 {
    color: #4BCAFF;
}

.nav {
    width: 1282px;
    height: 72px;
    margin-top: 40px;
    background: #35444F;
    display: flex;
    justify-content: center;
    border-right: white solid 0.5px;
}

.nav-menu1 {
    display: block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border-right: white solid 1px;
    border-left: white solid 1px;
    padding: 24px 32px;
}
.nav-menu1:hover {
    background: #222F3A;
}

.nav-menu2 {
    display: block;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 24px 38px;
    border-right: white solid 1px;
}
.nav-menu2:hover {
    background: #222F3A;
}
.nav-menu3 {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: white;
    padding: 24px 40px;
    border-right: white solid 1px;
}
.nav-menu3:hover {
    background: #222F3A;
}
.nav-menu4 {
    display: block;
    font-family: 'Roboto', sans-serif;
    padding: 24px 40px;
    font-size: 24px;
    color: white;
    border-right: white solid 1px;
}
.nav-menu4:hover {
    background: #222F3A;
}
main {
    display: flex;
    justify-content: center;
}

aside {
    display: block;
    float: left;
    width: 344px;
    height: 399px;
    margin-top: 48px;
}

.left-nav {
    width: 334px;
    display: flex;
    flex-direction: column;
    background: white;
    border:  1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

}
.left-nav1 {
    display: block;
    color: #485863;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    padding: 26px 194px 25px 44px;
}
.left-nav1:hover {
    color: black;
    background: #DBDBDB;
    padding-top: 27px;
    padding-left: 70px;
}
.left-nav2 {
    display: block;
    color: #485863;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    padding: 26px 0px 25px 44px;
}
.left-nav2:hover {
    color: black;
    background: #DBDBDB;
    padding-top: 27px;
    padding-left: 70px;
}
.left-nav3 {
    display: block;
    color: #485863;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    padding: 26px 0px 25px 44px;
}
.left-nav3:hover {
    color: black;
    background: #DBDBDB;
    padding-top: 27px;
    padding-left: 70px;
}
.left-nav4 {
    display: block;
    color: #485863;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 27px;
    padding: 26px 0px 25px 44px;
}
.left-nav4:hover {
    color: black;
    background: #DBDBDB;
    padding-top: 27px;
    padding-left: 70px;
}
.left-nav5 {
    display: block;
    color: #485863;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    line-height: 27px;
    padding: 26px 0px 30px 44px;
}
.left-nav5:hover {
    color: black;
    background: #DBDBDB;
    padding-top: 27px;
    padding-left: 70px;
}
.content {
    width: 885px;
    height: 832px;
    margin-left: 52px;
    margin-top: 48px;
    display: block;
    float: right;
}

.container-picture {
    width: 881px;
    height: 529px;
    border:  1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.img {
    border: none;
    padding: 75px 268px 73px 297px;
    box-shadow: none;
}


.p {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: #2C2C2C;
    margin-top: 37px;
    font-style: normal;
    font-weight: 400;
   text-align: left;

}
.p2 {
    margin-top: 34px;
    margin-bottom: 0;
}

footer {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    margin: 59px 0px 22px;
}

.footer-nav{
    color: #0C1927;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 27px;
    margin-left: 28px;
}
.footer-nav:hover{
    color: #3181A6;
    border-bottom: 3px solid #3181A6;
    text-decoration: none;
}


.footer-nav1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-left: 152px;
    padding-right: 40px ;
}


